body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
  border: 0;
}

li {
  list-style: none;
}

iframe {
  border: none;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;

  p {
    margin-bottom: 0;
  }
}

a {
  color: #1890ff;
  text-decoration: none;
}

a:hover {
  color: #40a9ff;
}

.cf::after,
.cf::before {
  display: table;
  content: " ";
}

.cf::after,
.clearfix::after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #979797;
  border-radius: 8px;
}
