/* 明亮主题 */
.bright {
  --header-bg-color: #fff;
  --header-shadow-color: #f0f1f2;
  --font-1: #252933;
  --font-2: #515767;
  --font-3: #8a919f;
  --font-4: #c2c8d1;
}

/* 暗黑主题 */
.dark {
  --header-bg-color: #000;
  --header-shadow-color: #f0f1f2;
  --font-1: #252933;
  --font-2: #515767;
  --font-3: #8a919f;
  --font-4: #c2c8d1;
}
